{% extends 'base.html' %}
{% load static %}
{% block title %}Detail of post{% endblock %}

{% block body %}
<h1 class="mt-5 ">{{post.title_tag}}</h1>
<strong>By: {{post.title}}</strong> <br>
<small>By: {{post.author}}</small> <br>
<small>{{post.post_date}}</small>
<hr>
<img src="{{post.header_image.url}}" alt="" width="400px"><br>
{{post.body | safe}} <br><br>

{% if user.is_authenticated %}
   {% if user.id == post.author.id %}
   <a href="{% url 'blogs:post_update' post.pk %}" class="btn btn-warning btn-sm mx-2">Edit</a>
   <a href="{% url 'blogs:post_delete' post.pk %}" class="btn btn-danger btn-sm ">Delete</a>
   
   <!-- Like button -->
   
   <form action="{% url 'blogs:post_like' post.pk %}" method="post">
      {% csrf_token%}
      {% if user.is_authenticated %}
         {% if liked %}
         <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-sm m-2 btn-danger">Unlike</button>
         {% else %}
         <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-sm m-2 btn-success">Like</button>         
         {% endif %}
      {% else %}  
         <a href="{% url 'login' %}">Login</a>  To Like 
      {% endif %}
      - {{total_likes}} likes
   </form>
   {% endif %} 
{% endif %}
<hr>


<!-- user profile -->
<div class="card mb-3 mt-5" >
   <div class="row g-0">
     <div class="col-md-4">
      {% if post.author.profile.profile_pic %}      
       <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-start" 
       alt="..." width="200px">
      {% else %}
      <img src="{% static 'images/passport-male.jpg' %}" class="img-fluid rounded-start" 
       alt="..." width="200px">
     {% endif %}
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">{{post.author}}</h5>
         <p class="card-text">
            <a href="{% url 'members:show_profile_page' post.author.profile.id %}" target="_blank">
               Profile page</a>
            {% if post.author.profile.website_url %}
            <a href="{{post.author.profile.website_url}}" target="_blank">| Website</a>
            {% endif %}
            {% if post.author.profile.facebook_url %}
            <a href="{{post.author.profile.facebook_url}}" target="_blank">| Facebook</a>
            {% endif %}
            {% if post.author.profile.youtube_url %}
            <a href="{{post.author.profile.youtube_url}}" target="_blank">| Youtube</a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
            <a href="{{post.author.profile.instagram_url}}" target="_blank">| Instagram</a>
            {% endif %}
            {% if post.author.profile.twitter_url %}
            <a href="{{post.author.profile.twitter_url}}" target="_blank">| Twitter</a>
            {% endif %}
         </p> <br>
         <p class="card-text">{{post.author.profile.bio}}</p>
       </div>
     </div>
   </div>
 </div>
<!-- ----------------- -->

<!-- comments -->
<h2>Comments .....</h2>
{% if not post.comments.all %}
No comments yet... <a href="{% url 'blogs:add_comment' post.pk %}">Add one</a>
{% else %}
<a href="{% url 'blogs:add_comment' post.pk %}">Add comment</a> <br><br>
{% for comment in post.comments.all %}
<strong>
   {{comment.name}} - {{comment.date_added}}
</strong> <br>
{{comment.body}}<br><br>
{% endfor %}
{% endif %}
<hr>
<!-- ------------------------------------------ -->

<a href="{% url 'blogs:home' %}" class="btn btn-primary btn-sm mx-2">Back</a>

{% endblock %}