{% extends 'base.html' %}
{% block title %}Create profile page{% endblock %}

{% block body %}
{% if user.is_authenticated %}

<div class="form-group w-50 m-auto">
   <h1 class="my-5 display-4">Create profile page</h1>
<form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {{form.as_p}} 
   <button type="submit" class="btn btn-primary btn-sm">Create profile page</button>
   <a href="{% url 'blogs:home' %}" class="btn btn-primary btn-sm ">Back</a>
</form>
</div>
{% else %}
<h4> You're not allowed here!!(Login required..)</h4>
{% endif %}

{% endblock %}