{% extends 'base.html' %}
{% block title %}Edit profile settings{% endblock %}

{% block body %}
<div class="form-group w-50 m-auto">
   <h1 class="my-5 display-4">Edit profile settings ...</h1>
   <!-- add extra to profile -->
   {{user.profile.bio}}
   <!-- ----- -->
<form action="" method="post">
   {% csrf_token %}
   {{form.as_p}} 
   <button type="submit" class="btn btn-primary btn-sm">Update</button>
   <a href="{% url 'blogs:home' %}" class="btn btn-primary btn-sm ">Back</a>
</form>

</div>
{% endblock %}