{% extends 'base.html' %}
{% block title %}Password Change ...{% endblock %}

{% block body %}
<div class="form-group w-50 m-auto">
   <h1 class="my-5 display-4">Password Change ...</h1>
<form action="" method="post">
   {% csrf_token %}
   {{form.as_p}} 
   <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
   <a href="{% url 'blogs:home' %}" class="btn btn-primary btn-sm ">Back</a>
</form> <br>
<ul>
   <li>Your password can’t be too similar to your other personal information.</li>
   <li>Your password must contain at least 8 characters.</li>
   <li>Your password can’t be a commonly used password.</li>
   <li>Your password can’t be entirely numeric.</li>
</ul>



</div>
{% endblock %}